<div class="app">
    <div class="navbar navbar-app navbar-absolute-top">

        <div class="navbar-brand navbar-brand-center">
            Configure Sources
        </div>

        <div class="btn-group pull-left">
            <div ng-click="toggle('mainSidebar')" class="btn btn-navbar sidebar-toggle">
                <i class="fa fa-bars"></i> Menu
            </div>
        </div>

        <div class="btn-group pull-right">
            <div ng-click="ctrl.addSource()" class="btn btn-navbar" ng-disabled="ctrl.busy">
                <i class="fa fa-plus"></i> Add
            </div>
        </div>
    </div>
    <div class="app-body">
        <div class="app-content">
            <div class="scrollable">
                <div class="scrollable-content section">
                    <form action="">
                        <span ng-repeat="source in ctrl.sources">
                            <div bs-panel title="{{source.name}}">
                                <div class="form-group row">
                                    <label class="control-label col-xs-3 col-sm-2 col-lg-1" for="source_name_input">
                                        Name
                                    </label>
                                    <div class="form-control-wrapper col-xs-4 col-sm-5 col-lg-6">
                                        <input class="form-control" type="text" ng-model="source.name"
                                               placeholder="Source Name" id="source_name_input"
                                               ng-disabled="!ctrl.isBeingEdited(source)"/>
                                    </div>
                                    <div class="col-xs-offset-2 col-xs-3">
                                        <div class="btn btn-default" ng-click="ctrl.edit(source)" ng-disabled="ctrl.busy">
                                            <i class="fa fa-edit"></i>
                                        </div>
                                        <div class="btn btn-default" ng-click="ctrl.delete(source)" ng-disabled="ctrl.busy">
                                            <i class="fa fa-trash-o" style="font-weight: bold"></i>
                                        </div>
                                    </div>
                                </div>

                                <input bs-form-control
                                       type="text"
                                       ng-model="source.path"
                                       label="Path"
                                       label-class="col-xs-3 col-sm-2 col-lg-1"
                                       class="col-xs-9 col-sm-10 col-lg-11"
                                       placeholder="Source Path"
                                       ng-disabled="!ctrl.isBeingEdited(source)"
                                        />

                                <switch
                                        bs-form-control
                                        ng-change="switchChanged()"
                                        ng-model="source.active"
                                        ng-click="switchClicked()"
                                        label="Active"
                                        label-class="col-xs-3 col-sm-2 col-lg-1"
                                        class="col-xs-9 col-sm-10 col-lg-11"
                                        ng-disabled="ctrl.busy"
                                        >
                                </switch>

                                <div class="pull-right" ng-show="ctrl.isBeingEdited(source)">
                                    <button type="button" class="btn btn-primary" ng-click="ctrl.save()">Save</button>
                                    <button type="button" class="btn btn-default" ng-click="ctrl.cancelEdit()">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
