<div class="app">
    <div class="navbar navbar-app navbar-absolute-top">

        <div class="navbar-brand navbar-brand-center">
            Configure Sources
        </div>

        <div class="btn-group pull-left">
            <div ng-click="toggle('mainSidebar')" class="btn btn-navbar sidebar-toggle">
                <i class="fa fa-bars"></i> Menu
            </div>
        </div>

        <div class="btn-group pull-right">
            <div ng-click="ctrl.addSource()" class="btn btn-navbar">
                <i class="fa fa-plus"></i> Add
            </div>
        </div>
    </div>
    <div class="app-body">
        <div class="app-content">
            <div class="scrollable">
                <div class="scrollable-content section">
                    <form action="">
                        <span ng-repeat="source in ctrl.sources">
                            <div bs-panel title="{{source.name}}">
                                <div class="form-group row">
                                    <label class="control-label col-xs-3 col-sm-2 col-lg-1" for="source_name_input">
                                        Name
                                    </label>
                                    <div class="form-control-wrapper col-xs-4 col-sm-5 col-lg-6">
                                        <input class="form-control" type="text" ng-model="source.name"
                                               placeholder="Source Name" id="source_name_input" disabled="true"/>
                                    </div>
                                    <div class="col-xs-offset-3 col-xs-2">
                                        <div class="btn btn-default">
                                            <i class="fa fa-trash-o" style="font-weight: bold"></i>
                                        </div>
                                    </div>
                                </div>

                                <input bs-form-control
                                       type="text"
                                       ng-model="source.path"
                                       label="Path"
                                       label-class="col-xs-3 col-sm-2 col-lg-1"
                                       class="col-xs-9 col-sm-10 col-lg-11"
                                       placeholder="Source Path"
                                       disabled="true"
                                        />

                                <switch
                                        bs-form-control
                                        ng-change="switchChanged()"
                                        ng-model="source.active"
                                        ng-click="switchClicked()"
                                        label="Active"
                                        label-class="col-xs-3 col-sm-2 col-lg-1"
                                        class="col-xs-9 col-sm-10 col-lg-11"
                                        >
                                </switch>
                            </div>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
